.topbar {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 0 16px;
}

.brand {
  font-weight: 600;
  letter-spacing: 0.3px;
}

.spacer {
  flex: 1 1 auto;
}

.page {
  padding: 16px;
}


a[mat-button], a[mat-raised-button] {
  margin-left: 8px;
  text-transform: none;
}
