<h2>Lista osób</h2>

@if (persons.length === 0) {
  <p>Brak zapisanych osób.</p>
} @else {
  <mat-list>
    @for (person of persons; track i; let i = $index) {
      <mat-list-item>
        <div class="row">
          <div class="info">
            <div class="name">{{ person.firstName }} {{ person.familyName }}</div>
            <div class="meta">{{ person.age }} lat</div>
          </div>

          <div class="actions">
            <a mat-stroked-button [routerLink]="['/details', i]">Szczegóły</a>
            <button mat-icon-button aria-label="Usuń" (click)="remove(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-list-item>
    }
  </mat-list>
}
